body {
  background-color: white;
}
h1 {
  
  color: black;

  text-align: center;
  text-indent: 90px;
}
h2 {
  
  color: black;
  text-align: center;
  text-indent: 50px;
  margin: 10;
}
p {
 style="font-family:courier;
color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
 
}
/* The navigation menu */
ul {
  list-style-type: none;
  margin: 20;
  width: 100%; /* Full width */
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align:   right: 150px;
;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}



  
