body {
  background-color: Gainsboro;
}
h1 {
  
  color: black;
  text-align: center;
  text-decoration: overline;
  text-indent: 30px;
  text-shadow: 5px 5px 5px LightCyan;
  background-color: DarkGrey;
}
h2 {
  
  color: black;
  text-align: center;
  text-indent: 50px;
  margin: 200;
}
p {
 
  color: black;
     margin: 10px;
    text-indent: 130px;
  padding: 20px;
  text-align: center;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
  width: 200px;
  background-color: #f1f1f1;


}

li {
  float: left;
}
 
 

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
